#apollo{
    top: 0; left: 0; position: fixed; width: 100%; height: 145px;background-color: #3399FF;padding: 10px;display: inline-table; z-index: 2147483500;box-sizing: border-box;font-weight:bold;
}
#display {
    height: 45px; line-height: 28px;
};
